<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=edge" />

    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />

    <title>@ViewData["TituloAutorizaP"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="~/css/modal.css">
    <link rel="stylesheet" type="text/css" href="~/css/calendario.css">
    <link rel="stylesheet" type="text/css" href="~/css/simulador.css">
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/loader.css" rel="stylesheet" />
    <style>
        /* Hide page by default */
        html {
            display: none;
        }
    </style>
</head>

<body onload="handleBackButton()">
    @{ ViewBag.Title = "Autorizador Prestamos personales"; }

    <div class="page">
        <div class="clear"></div>
        <div id="tituloVista" class="titulo Vista_3">
            <div class="ruta">
                <a href="~/Home/Index">Inicio</a> |
                <a href="~/Home/AutorizaP">Autorizador de eventos</a>
            </div>
        </div>

        <!-- Contenido -->
        <div class="contSecc">
            <div class="titV">Autorizador de eventos Prestamos</div>
            <div class="texto"><strong>Autoriza, cancela</strong> y visualiza el <strong>detalle</strong> de todos los eventos </div><br>
            <div class="divGrow filtroAuto">
                <div class="divCol wmS20">
                    <div class="col3">
                        <strong>Buscar Eventos :</strong><br>
                        <select id="idCompStatus" onchange="todosEventos()"></select>
                    </div>
                    <div class="col3">
                        <strong>Ordenar por :</strong><br>
                        <select id="idCompTipoOrdena" onchange="tipoOrdenamiento(this)"></select>
                    </div>
                    <div class="col3" id="idTipoEvento">
                        <strong>Tipo Evento:</strong><br>
                        <select id="idCompTipoEven" onchange="consultaEventosTipo()"></select>
                    </div>
                    <div class="col3" id="idUsuarios">
                        <strong>Usuarios:</strong><br>
                        <select id="idCompUsuario" onchange="consultaEventosUsr()"></select>
                    </div>
                    <div class="col3" id="idRango">

                        <strong>De:</strong> <input type="text" name="fechaFin" id="filter-date" class="calendario1" required autocomplete="off" style="max-width:40%" />  <strong> A:</strong> <input type="text" name="fechaFin" id="filter-date1" class="calendario1" required autocomplete="off" style="max-width:40%" />
                        <div class="ligabusca modalBuscar_view" id="indiceBtnbuscar">Buscar</div>
                    </div>
                </div>
            </div>
            <div class="texto" id="statusEvento"><strong> Eventos pendientes de autorización</strong></div>
            <div class="divacordion" style=" max-height: 800px; overflow:auto;">
                <dl class="accordion">
                </dl>
            </div>
        </div>	<!-- Fin conSecc -->
        <div id="modalRechazo" class="modal">
            <div class="cuadro cuadroM1">
                <a href="#" class="simplemodal-close btnCerrar">Cerrar</a>
                <form id="modalRechazoForm">
                    <div class="txtModal">Escribe el motivo del rechazar el evento</div>
                    <div class="contModal">
                        <div class="divCol">
                            <div class="col1">
                                <strong>Motivo del rechazo:</strong><br>
                                <textarea id="MotivoRechazo" name="MotivoRechazo"></textarea>
                            </div>
                        </div>
                        <div class="btnCenter1">
                            <a href="/SimuladorAbonos/Home/Autorizador/" class="btnA btnB" id="btnCancelar"><div></div>Cancelar</a>
                            <a href="#" class="btnA simplemodal-close" id="btnRechazarEvt"><div></div>Rechazar</a>
                        </div>
                    </div>
                </form>

            </div>
            <div class="clear"></div><br>
        </div>

        <div id="modalAutorizado" class="modal">
            <div id="idModalA" class="cuadro cuadroM1">
                <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
                <div class="titModal">Aviso</div>
                <table class="tblModal">
                    @*<tr>

                        <td class="txtModal"> Evento Autorizado<br><br>
                    </tr>*@
                </table>
            </div>
            <div class="clear"></div><br>
        </div>

        <div id="modalErrorMenu" class="modal">
            <div class="cuadro cuadroM1">
                <a href="#" id="btnCerrarLogout" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
                <div class="titModal">Aviso</div>
                <br />
                <div>
                    <br>
                    <span style="font-size:18px; text-align:center!important"> No tiene permiso para ver este menú </span>
                    <br><br>

                </div>


            </div>
        </div>

        <div id="modalGuardar" class="modal">
            <div class="cuadro cuadroM1">
                <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
                <div class="titModal">Aviso</div>
                <table class="tblModal" id="idTblModal">
                    <tr>
                        <td>
                            <span class="txtModal"> </span><span class="txtMd"><strong> </strong></span><span class="txtModalC"> </span><br>
                            <br><span class="txtCh1 f15">  </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div><br>
        </div><!-- Fin page modalGuardar_view -->

        <div id="modalNotificaciones" class="modal" tabindex="0">
            <div class="cuadro cuadroM1">
                <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
                <div class="titModal">Aviso</div>
                <div class="modalAdvertencias">
                    <div>
                        <br>
                        <span class="txtMdNotificaciones"></span>
                        <br>
                        <span class="txtMsjeII"></span>
                        <br>
                        <span class="txtMsjeIII"></span>
                        <br>
                    </div>
                </div>
                <div class="btnCenter1" style="justify-content:center;">
                    <button id="idMdAceptar" type="button" class="btnM simplemodal-close modalBtnAceptar" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
            <div class="clear"></div><br>
        </div>

    </div><!-- Fin page -->
    <script>
        if (self == top) {
            // Everything checks out, show the page.
            document.documentElement.style.display = 'block';
        } else {
            top.location = localStorage.getItem('urlR');
        }
    </script>
</body>
</html>

<script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="~/js/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.dropkick.js"></script>
<script type="text/javascript" src="~/js/content_height.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="~/js/custom-file-input.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script type="text/javascript" src="~/js/select2.min.js"></script>
<script type="text/javascript" src="~/js/es.js"></script>
<script type="text/javascript" src="~/js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="~/js/servicesCall.js"></script>
<script type="text/javascript" src="~/js/AutorizadorEventosP.js"></script>


