<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=edge" />

    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />

    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="~/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="~/css/simulador.css">
    <link rel=" stylesheet" type="text/css" href="~/css/select2.min.css" />
    <link href="~/css/validaciones.css" rel="stylesheet" />
    <link href="~/css/loader.css" rel="stylesheet" />
    <style>
        /* Hide page by default */
        html {
            display: none;
        }
    </style>
</head>

<body onload="handleBackButton()">
    <form name="_mine">

        <INPUT type=hidden id="_a1" name="_a1" value="1">

    </form>
    <div class="page">

        <div class="clear"></div>

        <div id="tituloVista" class="titulo Vista_1">
            <div class="ruta">
                <a href="~/Home/Index">Inicio</a> |
                <a href="~/Home/TasaBase">Tasa Base</a> |
                <a href="~/Home/TasaBasep">Prestamos</a>
            </div>
        </div>


        <!-- Contenido -->
        <div class="contSecc">
            <div class="titV">Generar evento de préstamos personales</div>
            <div class="texto">Podrá cargar tasas bases de préstamos personales atreves de un archivo Excel.</div>
            <!--<div class="menuTabs1">
              <div class="tabs active " tabs="1"><div>Generar cotización</div></div>
              <div  class="tabs active " tabs="2"><div>Consultar cotización</div></div>
            </div>-->

            <div class="divacordion">
                <form id="idCotizador">
                    <dl class="accordion">
                        <dt><div><span class="txtV"> <strong>1</strong></span> Datos Generales</div></dt>
                        <dd>
                            <div class="divGrow">
                                <div class="divCol wS20">
                                    <div class="col2">
                                        <strong>Pais:</strong><br>
                                        <select id="idCompPaises"></select>
                                    </div>
                                    <div class="col2">
                                        <strong>Tipo cliente:</strong><br>
                                        <select id="idCompTipoDeCliente"></select>
                                    </div>

                                </div>
                            </div>
                            <div class="divGrow">
                                <div class="divCol wS20">
                                    <div class="col2">
                                        <strong>Periodo:</strong><br>

                                        <select id="idCompPeriodo"></select>
                                    </div>
                                    <div class="col2">
                                        <strong>Promoción:</strong><br>
                                        <select id="idCompPromocion"></select>
                                    </div>

                                </div>
                            </div>


                            <div class="btnCenter">
                                <a class="btnA btnB" onclick="" id="idBtnValidarDatosG"><div></div>Agregar seleccionado</a>
                            </div>
                        </dd>
                        <div class="clear"></div>
                        <br>
                        <dt class="dt6"><div><span class="txtV"> <strong>2</strong></span> Datos complementarios</div></dt>
                        <dd>
                            <div class="divCol">
                                <div class="col1"><strong>Título:</strong><br><input type="text" id="idTituloEvent" name="nameTituloEvent" required autocomplete="off"></div>

                                <div class="col3">
                                    <label for="filter-date" class="lblText"><strong>Fecha de inicio:</strong></label>
                                    <input type="text" name="fechaInicio" id="filter-date" class="calendario1" required autocomplete="off" />
                                </div>
                                <div class="col3">
                                    <label for="filter-date" class="lblText"><strong>Fecha de finalización:</strong></label>
                                    <input type="text" name="fechaFin" id="filter-date1" class="calendario1" required autocomplete="off" />
                                </div>
                                <div class="col3">
                                    <strong>Tipo de envío:</strong><br>
                                    <select id="idTipoEnvio" required></select>
                                </div>
                                <div id="idOpcionesCargaSucursal" class="col1">
                                    <strong>Elige el método para cargar las sucursales para enviar el evento</strong><br>
                                    <div class="">
                                        <div><input type="radio" name="grupo3" id="rdCargaArchivo" checked /><label for="rdCargaArchivo" class="lblText">Carga archivo</label></div>
                                        <div><input type="radio" name="grupo3" id="rdSeleccionManual" /><label for="rdSeleccionManual" class="lblText">Selección manual</label></div>
                                        @* <div><input type="radio" name="grupo3" id="rdSeleccionTerritorio" /><label for="rdSeleccionTerritorio" class="lblText">Selección por territorio</label></div>*@
                                    </div>
                                </div>

                                <div id="idDivCargaSucursales" class="col3">
                                    <strong>Adjuntar archivo con el número de sucursales</strong><br>
                                    <input type="file" id="carga02" class="inputfile carga" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                    <label for="carga02" class="btnAgregaArchivoSuc lblImg"><span id="fileLabel">Examinar </span></label>
                                </div>
                                <div id="idTextAreaViewSucursales" class="col6">
                                    <strong>Sucursales para enviar el evento en el archivo <span class="idNombreArchivo"></span></strong><br>
                                    <textarea id="idPreviewSucursales" rows="2" cols="50"></textarea>
                                </div>
                                <div id="idTextAreaCargaSucursales" class="col6">
                                    <strong>Escribe separados por coma las sucursales para enviar el evento</strong><br>
                                    <textarea id="idCargaMSucursales" rows="2" cols="50"></textarea>
                                </div>
                                <div id="idSelectTerritorio" class="col4">
                                    <strong>Selecciona el territorio(s):</strong><br>
                                    <select id="idTerritorio" required>
                                    </select>
                                </div>
                                <div id="idTextAreaViewTerritorioSucursales" class="col6">
                                    <strong>Sucursales para enviar el evento en el territorio <span class="idNombreTerritorio"></span> </strong><br>
                                    <textarea id="idCargaMSucursales" rows="2" cols="50"></textarea>
                                </div>
                            </div>
                            <div class="btnCenter">
                                <a class="btnA btnB" onclick="" id="idBtnDatosComplem"><div></div>Agregar seleccionado</a>
                            </div>
                        </dd>

                        <div class="clear"></div>
                        <br>

                        <dt class="dt7"><div><span class="txtV"> <strong>3</strong></span> Seleccionar archivo</div></dt>
                        <dd class="paso2">
                            <div class="divCol w85" style="max-width:100%;width:100%;">
                                <div class="blanco borderBoton" style="max-width:100%;width:100%;">
                                    <div class="divFlex">
                                        <div>Utiliza un <strong>archivo de Excel</strong> para cargar tasas.</div>
                                        <div class="" id="archivoTasas">
                                            <input type="file" id="cargaArchivo" class="inputfile carga " accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                            <label for="cargaArchivo" class="btnAgregaFoto "><span>Selecciona otro archivo </span></label>
                                        </div>
                                    </div>
                                    <div class="divDato ">
                                        <div class="clear">&nbsp;</div>
                                        <div class="w300">
                                            <strong>Tu archivo cargado</strong>
                                            <div class="archivo ">
                                                <div><img src="~/img/icoAdjuntar1.svg" class="icoAdjuntar"></div>
                                                <div id="nombreArchivoExcel">archivodepruebaconnombrelargo.xls</div>
                                                <div><img src="~/img/delete.svg" id="imgCargarArchivoExcelN"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blanco divDato misDatos">
                                    <div class="f14 tLeft">Tu archivo se ha <strong>cargado correctamente.</strong> Visualiza los datos de cada línea dando clic a las <span class="txtV">pestañas</span> correspondiente.</div>
                                    <div class="menuTabs">
                                    </div>
                                </div>
                            </div>


                            <div class="btnCenter">
                                <a href="#" class="btnA btnB" id="idBtnSalir"><div></div>Cancelar</a>
                                <a href="#" class="btnA " id="idGuardarEvent"><div></div>Guardar y enviar</a>
                            </div>
                        </dd>


                        <div class="clear"></div>
                        <br>

                    </dl>
                </form>
            </div>

        </div>	<!-- Fin conSecc  -->
    </div><!-- Fin page -->
    <div id="modalNotificaciones" class="modal" tabindex="0">
        <div class="cuadro cuadroM1">
            <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
            <div class="titModal">Aviso</div>
            <div class="modalAdvertencias">
                <div>
                    <br>
                    <span class="txtMdNotificaciones"></span>
                    <br>
                    <span class="txtMsjeII"></span>
                    <br>
                    <span class="txtMsjeIII"></span>
                    <br>
                </div>
            </div>
            <div class="btnCenter1" style="justify-content:center;">
                <button id="idMdAceptar" type="button" class="btnM simplemodal-close modalBtnAceptar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
        <div class="clear"></div><br>
    </div>
    <div id="modalNotificacionTabla" class="modal">
        <div class="cuadro cuadroM1">
            <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
            <div class="titModal">Aviso</div>
            <div class="contModal">
                <div>
                    <br>
                    <span class="txtMsjeTbl"></span>
                    <br>
                </div>
                <div class="btnCenter1">
                    <a href="#" id="idBtnCancelar" class="btnA btnB simplemodal-close">Cancelar</a>
                    <a href="#" id="idConfimacionBorrar" class="btnA simplemodal-close modalBtnAceptar">Aceptar</a>
                </div>
            </div>
        </div>
        <div class="clear"></div><br>
    </div>
    <div id="modalNotificacionSucursales" class="modal">
        <div class="cuadro cuadroM1">
            <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
            <div class="titModal">Aviso</div>
            <div class="contModal">
                <div>
                    <br>
                    <span class="txtMsjeSucI"></span>
                    <br>
                    <span class="txtMsjeSuc"></span>
                    <br>
                    <br>
                </div>
            </div>
            <div class="btnCenter1" style="justify-content:center;">
                <button id="idMdAceptar" type="button" class="btnM simplemodal-close modalBtnAceptar" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
        <div class="clear"></div><br>
    </div>
    <div id="modalGuardar" class="modal">
        <div class="cuadro cuadroCh">
            <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
            <div class="titModal">Aviso</div>
            <table class="tblModal" id="idTblModal">
                <tr>
                    <td>
                        <span class="txtModal"> </span><span class="txtMd"><strong> </strong></span><span class="txtModalC"> </span><br>
                        <br><span class="txtCh1 f15">  </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div><br>
    </div><!-- Fin page modalGuardar_view -->

    <div id="modalErrorMenu" class="modal">
        <div class="cuadro cuadroM1">
            <a href="#" id="btnCerrarLogout" class="simplemodal-close btnCerrar"><img src="/SimuladorAbonos/img/icoCerrar.svg"></a>
            <div class="titModal">Aviso</div>
            <br />
            <div>
                <br>
                <span style="font-size:18px; text-align:center!important"> No tiene permiso para ver este menú </span>
                <br><br>

            </div>


        </div>
    </div>
    <div id="modalCancelarParam" class="modal">
        <div class="cuadro cuadroM1">
            <a href="#" class="simplemodal-close btnCerrar">Cerrar</a>
            <div class="txtModal">No se guardara la información cargada</div>
            <div class="contModal">
                <div class="btnCenter1">
                    <a href="#" class="btnA btnB simplemodal-close">
                        <div></div>Cancelar
                    </a>
                    <a href="#" class="btnA simplemodal-close modalBtnAceptar">
                        <div></div>Aceptar
                    </a>
                </div>
            </div>

        </div>
        <div class="clear"></div><br>
    </div>
    <div id="modalGuardarParam" class="modal">
        <div class="cuadro cuadroCh">
            <a href="#" class="simplemodal-close btnCerrar"><img src="~/img/icoCerrar.svg"></a>
            <div class="titModal">Aviso</div>
            <br>
            <div class="txtModal">Se guardo correctamente la información <br>de variables<br><br></div>
        </div>
        <div class="clear"></div><br>
    </div>
    <div class="load" id="cargando" style="z-index: 1060; display: none;">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        if (self == top) {
            // Everything checks out, show the page.
            document.documentElement.style.display = 'block';
        } else {
            top.location = localStorage.getItem('urlR');
        }
    </script>
</body>
</html>

<script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="~/js/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.dropkick.js"></script>
<script type="text/javascript" src="~/js/content_height.js"></script>
<script type="text/javascript" src="~/js/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="~/js/custom-file-input.js"></script>
<script src="~/js/owl.carousel.js"></script>
<script type="text/javascript" src="~/js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="~/js/servicesCall.js"></script>
<script type="text/javascript" src="~/js/select2.min.js"></script>
<script type="text/javascript" src="~/js/es.js"></script>
<script type="text/javascript" src="~/js/eventoPrestamosServicios.js"></script>
<script type="text/javascript" src="~/js/eventoPrestamos.js"></script>
